body{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    font-size: 3rem;

}

.gameField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.gameField, i{
    font-size: 12rem;
    margin: 2rem;
}

i{
    cursor: pointer;

}

.player{
    display: flex;
}