@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    /*  background: linear-gradient(#95c1fc ,#c6aafa) !important;*/
    background-color: #b9b6b6;
    user-select: none;
}

.header{
    text-align: center;
    font-size: 3rem;
    margin: 4rem;
}

.restart{
    position: fixed;
    right: 1%;
    top: 2%;
    font-size: 2rem;
    margin: 1rem;
}

.restart:hover{
    transition: 300ms;
    color: #858484;
}

#results{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.gameField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}

.gameField .player  i{
    font-size: 9rem;
    margin: 2rem;
}

.gameField .player i{
    cursor: pointer;
}

.player i:hover{
    transition: 300ms;
    color: #858484;
    font-size: 10rem;
}

.player{
    display: flex;
}

.comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comp p{
    font-size: 2rem;
    font-weight: 600;
    margin: .2rem;
}

.comp i {
    margin: .2rem;
    font-size: 7rem;
}

.score{
    position: fixed;
    left: 0;
    right: 0; 
    text-align: center;
    bottom: 2%;
    font-size: 2rem;
    font-weight: 600;
}

@media only screen and (max-width: 600px) { 
    .header{
        font-size: 1rem;
        margin: .2rem;
    }

    #results{
        font-size: 1.4rem;
        margin: .7rem;
    }

    .comp p {
        font-size: 1.4rem;
    }

    .comp i{
        font-size: 4rem;
        margin: 1rem;
    }

    .gameField .player  i{
        font-size: 4rem;
        margin: 1rem;
    }

    .score{
        bottom: 2%;
        font-size: 1.5rem;
    }
}